* {
    margin: 0;
    padding: 0;
    font-family: 'Sarabun', sans-serif;
}

/* banner section */
.banner-item{
    width: 1700px;
    height: 850px;
}
.banner {
    display: flex;
    padding: 0 240px;
    gap: 97px;
    justify-content: space-between;
    align-items: center;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    padding-top: 197px;
    width: 660px;
    
}
.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 32px 0;
}
.banner-button{
    padding: 20px 43px;
    border-radius: 8px;
    border: 0;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 147px;
}
.banner-image{
    padding-top: 50px;
    width: 600px;
    height: 800px;
}

/* featured section */
.featured{
    width: 1700px;
}
.featured-headline{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 178px;
    padding-bottom: 24px;
}
.featured .featured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 48px;
}
.featured-item{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.featured-item img {
    width: 210px;
    height: 328px;
}

.first-image img{
    width: 300px;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    background-position: center;
    padding: 100px 70px 0 70px ;
}

.second-image img{
    width: 300px;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    background-position: center;
    padding: 100px 70px 0 70px ;
}
.third-image img{
    width: 300px;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);    
    background-position: center;
    padding: 100px 70px 0 70px ;
}
.tree-name{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    padding-top: 32px;
    padding-bottom: 50px;
}

/*  */